<div class="container mt-5">
    <h2 class="text-center mb-4">Admin Panel</h2>

    <div class="row g-4">

        <div class="col-md-4">
            <a asp-controller="Antrenor" asp-action="AntrenorEkle" class="btn btn-dark w-100">
                Antrenör Ekle
            </a>
        </div>

        <div class="col-md-4">
            <a asp-controller="Hizmet" asp-action="Ekle" class="btn btn-primary w-100">
                Hizmet Ekle
            </a>
        </div>

        <div class="col-md-4">
            <a asp-controller="Antrenor" asp-action="AntrenorGoruntule" class="btn btn-success w-100">
                Antrenörleri Gör
            </a>
        </div>

    </div>
</div>
