body {
    /* NAVBAR */
    .custom-navbar

{
    background-color: #222 !important;
}

.nav-link {
    color: #ccc !important;
    font-weight: 500;
}

    .nav-link:hover {
        color: white !important;
    }

/* FOOTER */
.custom-footer {
    background-color: #111;
    color: white;
    padding: 20px;
    text-align: center;
}

/* HERO SECTION */
.hero-section {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
}

.hero-container {
    position: relative;
    width: auto;
    height: auto;
   
}

.hero-img {
    width: 100%;
    height: auto;
    display: block; /*Boslari kaldirir*/
    object-fit: cover;
    object-fit: cover ; 
    object-position: center;
    filter: brightness(70%); /* Darken the image for better text visibility */
}



}
