body {
    background-color: #FAD1D1;
}

.hero-img {
    max-height: 450px; 
    object-fit: cover; 
}


.navbar .nav-link {
    color: white !important;
    font-weight: 500;
}

 
    .navbar .nav-link.active {
        color: white !important;
        opacity: 1;
    }

    .navbar .nav-link.disabled {
        color: white !important;
        opacity: 1;
    }
