body {
    /* NAVBAR */
    .custom-navbar

{
    background-color: #222 !important;
}

.nav-link {
    color: #ccc !important;
    font-weight: 500;
}

    .nav-link:hover {
        color: white !important;
    }

/* FOOTER */
.custom-footer {
    background-color: #111;
    color: white;
    padding: 20px;
    text-align: center;
}

/* HERO BANNER (IMG) RESPONSIVE */
.hero-wrapper {
    width: 100%;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: auto;
    display: block;
}


.hizmet-card {
    transition: transform .3s ease;
    border-radius: 10px;
    overflow: hidden;
}

    .hizmet-card:hover {
        transform: scale(1.05);
    }

    .hizmet-card img {
        height: 220px;
        object-fit: cover;
    }




}
