body {
    /* NAVBAR */
    .custom-navbar

{
    background-color: gray;
    font-family: Arial, sans-serif; 
    color: #333; 
    
}



.nav-link {
    color: #ccc !important;
    font-weight: 500;
}

    .nav-link:hover {
        color: white !important;
    }

/* FOOTER */
.custom-footer {
    background-color: #111;
    color: white;
    padding: 20px;
    text-align: center;
}

/* HERO BANNER (IMG) RESPONSIVE */
.hero-wrapper {
    width: 100%;
    overflow: hidden;
}

.hero-img {
    width: 100%;
    height: auto;
    display: block;
}


.hizmet-card img {
    width: 100%; 
    height: auto;
    object-fit: contain; 
    max-height :300px; 
    margin-bottom:5px;
    border-radius: 10px;
}

.hizmet-card {
    transition: transform 0.3s ease;
    border-radius: 10px;
    overflow: hidden;
}

    .hizmet-card:hover {
        transform: scale(1.05);
    }






}
