body {
    background-color: #FAD1D1;
}

.hero-img {
    max-height: 450px; 
    object-fit: cover; 
}


.navbar-nav .nav-link {
    color: #ffffff !important;
    opacity: 1 !important;
}

  .navbar-nav .nav-link:hover {
        color: #ffe6f0 !important;
    }

 
  .navbar .nav-link.active {
        color: white !important;
        opacity: 1;
    }

  .navbar .nav-link.disabled {
        color: white !important;
        opacity: 1;
    }

.card-header {
    background: linear-gradient(135deg, #0d6efd, #6610f2);
}

.form-control,
.form-select {
    border-radius: 10px;
    padding: 10px;
}

.btn-primary {
    border-radius: 12px;
    font-weight: 600;
}

.antrenor-card {
    border-radius: 20px;
    transition: all 0.3s ease;
    background-color: #fff;
}

  .antrenor-card:hover {
        transform: translateY(-8px);
        box-shadow: 0 10px 25px rgba(0,0,0,0.15);
    }

  .antrenor-card img {
        border: 3px solid #0d6efd;
    }


