@model WebProjesi.Models.AntrenorModeli
@{
    ViewData["Title"] = "Antrenör Ekle";
}

<h2 class="text-center mb-4">Yeni Antrenör Ekle</h2>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow p-4">

            <form asp-action="AntrenorEkle" method="post">

                <div class="mb-3">
                    <label class="form-label">Ad Soyad</label>
                    <input asp-for="AdSoyad" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Hizmetler</label>
                    <input asp-for="Hizmetler" class="form-control" />
                </div>

                <div class="mb-3">
                    <label class="form-label">Müsait Saatler</label>
                    <input asp-for=" MusaitSaatler" class="form-control" />
                </div>

                <button type="submit" class="btn btn-success w-100">
                    Kaydet
                </button>

            </form>

        </div>
    </div>
</div>
