@{
    ViewData["Title"] = "Antrenör Paneli";
}

<h2>Antrenör Yönetimi</h2>

<ul>
    <li>
        <a asp-controller="Antrenor" asp-action="AntrenorEkle">
            Yeni Antrenör Ekle
        </a>
    </li>
    <li>
        <a asp-controller="Antrenor" asp-action="AntrenorGörüntüle">
            Antrenörleri Görüntüle
        </a>
    </li>
    <li>
        <a asp-controller="
" asp-action="RandevuAl">
            Randevu Al
        </a>
    </li>
</ul>
